@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Black+Han+Sans&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Platypi:ital,wght@0,300..800;1,300..800&family=Playwrite+AR:wght@100..400&family=Playwrite+BE+VLG:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(formulario.css);
@import url(vista_admin.css);
@import url(error_correo.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c1e33;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Kanit", sans-serif;
}



.button {
    position: absolute;
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    top: 10px;
    left: 10px;
    background-color: #4aa5cc;
    border-radius: 10px;
}